---
import { Image } from 'astro:assets';
import saturn from "~/assets/images/saturn.png";
---

<section class="relative not-prose xl:h-screen">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-12 text-2xl text-center">
    <span id="type-text" class="font-bold"> </span>
  </div>
  <div class="flex justify-center">
    <Image
      width={960}
      src={saturn} 
      alt="saturn" 
      loading="lazy"
      decoding="async">
    </Image> 
  </div>

</section>

<script is:inline>
    function initWriter () {
    const app = document.getElementById('type-text');

    new Typewriter(app, {
      strings: [
        '只有技术是不够的！<i> —— 来自Aldis</i>',
        'You can or can not，you are right！<i>—— From Camila</i>',
        '找到正确的方法，开始做，保持专注！<i>—— 来自Seven</i>',
        '凡事豫则立，不豫则废！<i>—— 来自《礼记·中庸》</i>',
        '不可能让所有人满意，也不可能让某个人永远满意，所以做自己！<i>—— 来自Aldis</i>',
      ],
      pauseFor: 4000,
      loop: true,
      delay: 100,
      autoStart: true,
      cursor: '▂',
    });
  }
  initWriter();
  document.addEventListener('astro:after-swap', initWriter);
</script>
