---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="zh-cn">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🐱‍🏍Hub 有趣的灵感博客!</h1>
			<p>
				💻🤣Alids 专栏，记录极客人的日常心得，主要包含计算机技术、人工智能、区块链、
				编程技术、硬件设计、书法创作等。
			</p>
			<p>
				📷😎Camila 专栏，记录灵感人的有趣作品，主要包括摄影作品、人生灵感、生活分享、
				读书心得等.
			</p>
			<p>
				🚀😁Seven 专栏，记录航天工程师的天才作品，主要包括积木作品、编程代码、创意画画、
				天马行空等.
			</p>
		</main>
		<Footer />
	</body>
</html>
